repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    - id: end-of-file-fixer
    - id: trailing-whitespace
    - id: mixed-line-ending
-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
    - id: reorder-python-imports
      args: [--application-directories=.:src, --py39-plus]
- repo: https://github.com/asottile/pyupgrade
  rev: v3.19.1
  hooks:
    - id: pyupgrade
      args: [--py39-plus]
- repo: https://github.com/PyCQA/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: ["--remove-unused-variables"]
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.8
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format
      args: [--line-length=79]
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.1.0
  hooks:
    - id: black
      language_version: python3.12
      args: [--line-length=79]
- repo: https://github.com/PyCQA/flake8
  rev: 7.2.0
  hooks:
    - id: flake8
- repo: https://github.com/fpgmaas/deptry.git
  rev: 0.23.0
  hooks:
    - id: deptry
      entry: deptry
      args: ["src", "--config", "pyproject.toml"]
